In [26]:
import numpy as np
import pandas as pd
from datetime import datetime
from deepdiff import DeepDiff

import backend_services

test_data = [
        (2000,'toyota',"sienna","xle","SUV","automatic","4t3zf13c3yu301239","ca",2.3,198168.0,"white","beige","onemain remarketing services",2125,1000,"2015-01-14 04:30:00"),
        (2011,None, None, None,"SUV","automatic","5n3aa08a57n801070","ca",2.0,86721.0,"white","black","twin motor",14350,13000,"2015-01-06 12:30:00"),
        (2014,"BMW",None,None,"Convertible","automatic","wbayp9c57ed169262","ca",3.8,10736.0,"black","black","the hertz corporation",67000,65000,"2015-01-06 12:30:00"),
        (2015,None, None,"Luxury","Sedan","automatic","knalw4d42f6018633","ca",4.4,9684.0,"white","gray","kia motors america, inc",41000,41000,"2015-01-20 04:30:00"),
        (2013,"Hyundai","Elantra","GLS","Sedan","automatic",None,"ca",1.0,24120.0,"brown","beige","hyundai motor finance",11950,5200,"2015-01-13 12:00:00"),
        (2011,"Hyundai","Equus","Signature","Sedan","automatic","kmhgh4jf8bu042912","ca",None,36047.0,"black","black","hyundai motor finance",25500,26000,"2015-01-20 04:30:00")
    ]

expected_data = [
        (2000,'toyota',"sienna","xle","SUV","automatic","4t3zf13c3yu301239","ca",2.3,198168.0,"white","beige","onemain remarketing services",2125,1000,"2015-01-14 04:30:00"),
        (2013,"Hyundai","Elantra","GLS","Sedan","automatic",None,"ca",1.0,24120.0,"brown","beige","hyundai motor finance",11950,5200,"2015-01-13 12:00:00"),
        (2011,"Hyundai","Equus","Signature","Sedan","automatic","kmhgh4jf8bu042912","ca",None,36047.0,"black","black","hyundai motor finance",25500,26000,"2015-01-20 04:30:00")
    ]

columns = ["year","make","model","trim","body","transmission","vin","state","condition","odometer","color","interior","seller","mmr","sellingprice","saledate"]

test_dataframe = pd.DataFrame(test_data, columns=columns)

expected_dataframe = pd.DataFrame(expected_data, columns=columns)
expected_dataframe.drop(['sellingprice'], inplace=True, axis=1)

actual_dataframe, _ = backend_services.na_filter(test_dataframe)

diff = DeepDiff(expected_dataframe.replace({np.nan: None}).to_dict(orient="records"), actual_dataframe.replace({np.nan: None}).to_dict(orient="records"))
print(diff)
assert 'values_changed' not in diff

{}

In [25]:
expected_dataframe.replace({np.nan: None}).to_dict(orient="records")

[{'year': 2000,
  'make': 'toyota',
  'model': 'sienna',
  'trim': 'xle',
  'body': 'SUV',
  'transmission': 'automatic',
  'vin': '4t3zf13c3yu301239',
  'state': 'ca',
  'condition': 2.3,
  'odometer': 198168.0,
  'color': 'white',
  'interior': 'beige',
  'seller': 'onemain remarketing services',
  'mmr': 2125,
  'saledate': '2015-01-14 04:30:00'},
 {'year': 2013,
  'make': 'Hyundai',
  'model': 'Elantra',
  'trim': 'GLS',
  'body': 'Sedan',
  'transmission': 'automatic',
  'vin': None,
  'state': 'ca',
  'condition': 1.0,
  'odometer': 24120.0,
  'color': 'brown',
  'interior': 'beige',
  'seller': 'hyundai motor finance',
  'mmr': 11950,
  'saledate': '2015-01-13 12:00:00'},
 {'year': 2011,
  'make': 'Hyundai',
  'model': 'Equus',
  'trim': 'Signature',
  'body': 'Sedan',
  'transmission': 'automatic',
  'vin': 'kmhgh4jf8bu042912',
  'state': 'ca',
  'condition': None,
  'odometer': 36047.0,
  'color': 'black',
  'interior': 'black',
  'seller': 'hyundai motor finance',
  'mmr': 25500,
  'saledate': '2015-01-20 04:30:00'}]

In [1]:
class MockModel:
    def __init__(self, value):
        self.value = value

    def predict(self, data):
        n = len(data)

        return [self.value]*n

    def transform(self, data):
        return data

In [7]:
mock_model = MockModel(1000.0)
# model_mock.predict(test_data)

In [6]:
import backend_services
backend_services.prediction(test_data, model = mock_model)

AttributeError: module 'batch_service' has no attribute 'transform'

In [9]:

record_df = pd.DataFrame([test_data])
# price_prediction = mock_model.predict(record_df)
record_df

AttributeError: 'list' object has no attribute 'to_dict'

In [12]:
test_record = (2013,"Hyundai","Elantra","GLS","Sedan","automatic",None,"ca",1.0,24120.0,"brown","beige","hyundai motor finance",11950,5200,"2015-01-13 12:00:00")
columns = ["year","make","model","trim","body","transmission","vin","state","condition","odometer","color","interior","seller","mmr","sellingprice","saledate"]

test_data = dict(zip(columns, test_record))
record_df = pd.DataFrame([test_data])
record_df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2013,Hyundai,Elantra,GLS,Sedan,automatic,None,ca,1.0,24120.0,brown,beige,hyundai motor finance,11950,5200,2015-01-13 12:00:00