In [1]:
import numpy as np
import pandas as pd
import pyarrow

from datetime import datetime
from dateutil.relativedelta import relativedelta

def main():
    data = pd.read_csv('./dataset/car_prices.csv',
                        sep=',',
                        error_bad_lines=False,
                        parse_dates=['saledate'])
    data['saledate'] = data['saledate'].apply(lambda t: datetime.strftime(t, "%Y-%m-%d %H:%M"))
    data['saledate'] = data['saledate'].apply(lambda t: datetime.strptime(t, "%Y-%m-%d %H:%M"))

    period = datetime(year=2014, month=12, day=1).date()
    td_max = data.saledate.max().date()

    while period <= td_max:
        mask = (data['saledate'] < np.datetime64(period  + relativedelta(months=1))) \
                &(data['saledate'] >= np.datetime64(period))
        
        filename = f"car-prices-{period.year}-{period.month}"
        print(filename,
            period + relativedelta(months=1),
            np.sum(mask))
        # data[mask].to_csv(f"./dataset/{filename}.csv", sep=",", index=False)
        data[mask].to_parquet(f"./4-monitoring/evidently_service/datasets/{filename}.parquet", engine="pyarrow", index=False)
        period = period + relativedelta(months=1)

# if __name__=="__main__":
#     main()

In [6]:
d = pd.read_csv("./dataset/car-prices-test.csv", sep=",")
d.to_parquet(f"./4-monitoring/evidently_service/datasets/car-prices-test.parquet", engine="pyarrow", index=False)

In [8]:
dd = pd.read_parquet("./4-monitoring/evidently_service/datasets/car-prices-test.parquet")
dd

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2007,Hyundai,Elantra,GLS,Sedan,automatic,kmhdu46d37u028705,pa,2.0,141415.0,red,beige,1 cochran of monroeville,3425,2600,2015-04-01 02:00:00
1,2012,Nissan,Sentra,2.0 SR,Sedan,automatic,3n1ab6ap4cl748676,fl,4.8,31856.0,black,gray,nissan-infiniti lt,11200,12600,2015-04-01 02:00:00
2,2012,Nissan,Altima,2.5 S,Sedan,automatic,1n4al2ap8cn505834,fl,4.4,34642.0,gray,black,nissan-infiniti lt,12650,17600,2015-04-01 02:00:00
3,2013,Chevrolet,Equinox,LS,SUV,automatic,2gnalbek1d6349853,fl,4.4,56184.0,black,black,ge fleet services for itself/servicer,14550,16400,2015-04-01 02:00:00
4,1998,BMW,3 Series,323is,Coupe,automatic,wbabf8328weh62085,va,1.0,155648.0,silver,gray,select remarketing group llc/anderson financial,1650,400,2015-04-01 02:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155140,2013,Ford,F-150,XL,SuperCrew,automatic,1ftfw1ef6dkf58506,tx,4.1,52992.0,white,gray,enterprise fleet management exchange,24200,18100,2015-07-14 06:30:00
155141,2013,Chevrolet,Malibu,Eco,sedan,automatic,1g11d5rr3df108745,oh,3.6,31712.0,red,tan,nassief auto group inc,13700,14000,2015-07-14 06:30:00
155142,2014,Toyota,Tundra,SR,Double Cab,automatic,5tfum5f12ex057057,fl,4.5,18208.0,white,black,toyota financial services,26500,25600,2015-07-14 06:30:00
155143,2013,Ram,1500,Tradesman,Crew Cab,automatic,1c6rr7kt2ds705350,tx,3.8,110159.0,white,gray,enterprise fleet management exchange,23700,14700,2015-07-14 06:30:00
155144,2007,Chevrolet,Tahoe,LT,SUV,automatic,1gnfc13007r166874,fl,2.3,1.0,white,black,autonation ford sanford,10450,9100,2015-07-21 02:30:00